Source: stacer
Section: utils
Priority: optional
Maintainer: Quentin Lienhardt <pro@quentium.fr>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Browser: https://github.com/QuentiumYT/Stacer
Vcs-Git: https://github.com/QuentiumYT/Stacer.git
Homepage: https://stacer.quentium.fr/

Package: stacer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6 (>= 2.34), libqt6core6 (>= 6.2.4), libqt6charts6 (>= 6.2.4), libqt6svg6 (>= 6.2.4), libqt6network6 (>= 6.2.4)
Recommends: systemd, curl
Description: Linux system optimizer and monitoring
 Monitor your system (CPU, memory, disk) in a graphical application (qt).
 Change and monitor your services. Summarizes basic system information and
 can show network download/upload speeds/totals.
